@import "tailwindcss";
/* 导入来自 /assets/MiSans_VF.ttf 的字体 */
@font-face {
	font-family: 'MiSans';
	src: url('/assets/MiSans_VF.ttf') format('truetype-variations');
	font-weight: 1 999;
	font-display: swap;
}

@font-face {
	font-family: 'Alte DIN';
	src: url('/assets/din1451alt.ttf') format('truetype-variations');
	font-weight: 1 999;
	font-display: swap;
}

* {
	@apply font-[MiSans];
}

button {
	@apply cursor-pointer;
}

input {
	@apply focus:outline-none;
}

.track_num {
	font-family: 'DIN Alternate', 'Alte DIN' !important;
}